*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Montserrat', sans-serif;
}
/* Assets */


/* Parte uno */

.container{
    display: flex;
    align-items: center;

    padding: 0 20px;

    height: 100px;

    background-color: #1e192e;
}

.input-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;

    border-radius: 20px;
}

#userEmail{
    padding: 10px 30px;

    background-color: #372e4a;

    border-style: none;
    border-radius: 50px;

    font-weight: bold;

    color: white;
}

#userEmail::placeholder{
    color: black;
}

#logInBtn{
    padding: 8px 14px;

    border-style: none;
    border-radius: 20px;

    background-color: #0cecda;

    color: white;

    cursor: pointer;

    font-weight: bold;
}

.result-container{
    display: flex;
    justify-content: center;

    width: 55%;
}

#result{
    color: white;

    font-weight: bold;
    font-size: 2em;
}

/* /Parte uno */



/* Parte 2 */

.container-dice{
    display: none;

    height: calc(100vh - 100px);

    background-color: #5d5a63;
}

.container-centered{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 80%;
    height: 500px;

    margin: auto;
}

.result-container-dice{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    width: 20%;
}

.num-title{
    color: white;

    font-size: 1.2em;
    font-weight: bold;
}

.numbers{
    color: white;

    font-size: 2.5em;
    font-weight: bold;
}

#challengeResult{
    color: white;

    font-size: 3em;
    font-weight: bold;
}

#diceBtn{
    padding: 20px 40px;

    border-style: none;
    border-radius: 50px;

    background-color: #0cecda;

    color: white;

    cursor: pointer;

    font-weight: bold;
    font-size: 1.4em;
}

.btn-container{
    display: flex;
    justify-content: center;
}



